body{
    font-family: 'Poppins', sans-serif;
    margin:0%;
}
h1{
    font-size: 55px;
    margin:-4px;

}
.navbar{
    background-color: gainsboro;
    display:flex;
    margin-left: 0%;
    margin-right: 0%;
   
}
.nav-item{
   padding: 1%; 
   
 margin:-5px;
 text-decoration: none;
 
}
.search{
   margin:3px;
   padding-left:790px;
  
}
span{
    color:rgb(0, 183, 255);
}
.section{
    display: flex;
}
#line{
    text-align: justify;
    margin-right:285px;
    padding:5px;
}
.equal{
    width :50%;
    margin:35px;
}
.equal img{
    width:510px;
    height: 390px;
}
.button{
    background-image: linear-gradient(rgb(10, 113, 119),rgb(108, 144, 210));
    padding:10px 15px;
    border-radius: 20px;
    text-decoration: none;
}
.details img{
   width: 280px;
   height:425px ;
   padding-left: 110px;
  
}
.section-background{
    display: flex;
    background-image: url(Frame\ 57.jpg);
    margin-top:60px;
    

}
.details{
    width:50%;
    margin: 60px;

}
.padding{
    padding:130px;
    margin:40px;
}
.contract-link{
    background-image: linear-gradient(rgb(10, 113, 119),rgb(108, 144, 210));
    padding: 8px;
    border-radius: 30px;
    text-decoration:none;
    margin:5px;
    


}
#about{
    font-size:30px ;
}
#text-align{
    text-align: justify;
}





#recipes-1{
    display: flex;
    width: 91%;
    margin: auto;

}
#recipes-1 img{

    height: 150px;
    width: 250px;
    border-radius: 5px;
    display: block;
    justify-content: center;
    margin: auto;
}
.sizein{
   margin-left: 3%;
   margin-right: 3%;
   padding: 7px;
   border-radius: 10px;
   box-shadow: 10px 10px  25px gray;
   height: 430px;
}











































.recipies{
    display: flex;
  width: 80%;
 margin: auto;
}

.header{
    text-align: center;
    margin-top: 100px;
   
}
#header-line{
    font-size: 12px;
    margin-top: -15px;
    padding: 10px;
}

.project-cover{
 font-size: 20px;
 margin:30px;
 padding:20px;
 text-align: justify;
 box-shadow: -10px 15px 20px -5px gray;
 border-radius: 15px;
 
 
}
.text-size{
    font-size: 12px;
    padding-right:65px;
}
.cover-size{
 height: 160px;
 width: 235px;
}
#radious{
    border-radius: 10px;
}
.followers{
    display: flex;
    margin-left: 155px;
    margin-right: 150px;
    margin-top: 55px;
    margin-bottom: 85px;
    box-shadow: 2px 5px 25px -5px gray;
   
}


.subscriber{
   
 
    width:91%;
    padding:1%;
    margin-top:5px ;
    margin-bottom: 8px;
    margin-left: 100px;
  
}

.form{
    background-color: rgb(112, 216, 207);
    text-align: center;
    margin-left: 25%;
    margin-right:25%;
    border-radius: 5%;
   
}
#footer{
background-color: black;
}
#food-line{
    color:darkgray;
    text-align: center;
}