body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 55px;
    margin:-4px;

}
span{
    color:rgb(0, 183, 255);
}
.section{
    display: flex;
}
#line{
    text-align: justify;
    margin-right:285px;
    padding:5px;
}
.equal{
    width="50%";
    margin:35px;
}
.equal img{
    width:510px;
    height: 390px;
}
.button{
    background-image: linear-gradient(rgb(10, 113, 119),rgb(108, 144, 210));
    padding:10px 15px;
    border-radius: 20px;
    text-decoration: none;
}
.details img{
   width: 265px;
   height:425px ;
   padding-left: 110px;
}
.details{
    width:50%;
    margin: 60px;

}
.padding{
    padding:130px;
    margin:40px;
}
.contract-link{
    background-image: linear-gradient(rgb(10, 113, 119),rgb(108, 144, 210));
    padding: 8px;
    border-radius: 30px;
    text-decoration: none;
    margin:5px;
    


}
#about{
    font-size:30px ;
}
#text-align{
    text-align: justify;
}
.background{
    background-image: url(Frame\ 57.jpg);
    margin-top:60px;
}